{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb Start -->
<section class="breadcrumb-area">
   <div class="breadcrumb-shape"></div>
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="breadcrumb-inn">
               <div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                  <h2><span>Contact Us</span></h2>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Breadcrumb End -->


<!-- Contact Map Start -->
<div class="map-area section_t_100">
   <div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
      <h2>Easily <span>Find us</span> on <br> google Map</h2>
   </div>
   <iframe style="border: 0; padding: 35px 0px 0px 95px; width: 95%; height: 600px;"
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14709.966704536215!2d75.943164!3d22.821292!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x426141aa8141f7a5!2sAcropolis+Institute+Of+Technology+And+Research!5e0!3m2!1sen!2sin!4v1522227737552"
      frameborder="0" id="fitvid252425"></iframe>
</div>
<!-- Contact Map End -->


<!-- Contact Form Start -->
<section class="contact-form section_100">
   <div class="container">
      <div class="row">
         <div class="col-lg-12">
            <div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
               <h2>Get in <span>Touch</span></h2>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-8">
            <div class="contact-form-wrapper wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
               <form>
                  <div class="row">
                     <div class="col-lg-6">
                        <div class="form-group">
                           <label for="name">Name </label>
                           <input type="text" class="input-field" id="name" placeholder="Enter Your Name">
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="form-group">
                           <label for="email">Email </label>
                           <input type="text" class="input-field" id="email" placeholder="Enter Your Email">
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="form-group">
                           <label for="subject">Subject </label>
                           <input type="text" class="input-field" id="subjict" placeholder="Write Your Subjict">
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="form-group">
                           <label for="phone">Phone </label>
                           <input type="text" class="input-field" id="phone" placeholder="Enter Your Phone No">
                        </div>
                     </div>
                     <div class="col-lg-12">
                        <div class="form-group button-area">
                           <label for="message">Message </label>
                           <textarea id="message" class="input-field textarea"
                              placeholder="Write Your Message"></textarea>
                        </div>
                     </div>
                     <div class="col-lg-12">
                        <div class="form-group button-area">
                           <button type="submit" class="theme-btn">Send Message<span
                                 class="fa fa-chevron-right"></span></button>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="col-lg-4 d-flex">
            <div class="address-area wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s">
               <h4 class="title">
                  Contact Information
               </h4>
               <ul class="address-list">
                  <li>
                     <p>
                        <i class="fa fa-map-marker"></i>Acropolis Institute<br>
                        Bypass Road, Manglia Square, Manglia,<br>
                        Indore, Madhya Pradesh - 453771<br>
                        India
                     </p>
                  </li>
                  <li>
                     <p>
                        <i class="fa fa-phone"></i>0731-4730000, 4730001
                     </p>
                  </li>
                  <li>
                     <p>
                        <i class="fa fa-envelope"></i>
                        info@acropolis.in
                     </p>
                  </li>

               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- Contact Form End -->
{% endblock %}