{% extends 'index.html' %}
{% load static %}
{% block content %}

   <!-- Breadcrumb Start -->
   <section class="breadcrumb-area">
      <div class="breadcrumb-shape"></div>
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="breadcrumb-inn">
                  <div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                     <h2>Team <span> Members</span></h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Breadcrumb End -->

   <!-- Team Section Start -->
   <section class="team-section section_t_100 section_b_70">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                  <h2>Our Expert <span>Team</span> <br />Members</h2>
               </div>
            </div>
         </div>

         <div class="row">
            <div class="col-lg-4">
               <div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                  <h2><span>Faculty Members</span></h2>
               </div>
            </div>
         </div>
         <!-- Team Block Start -->
         <div class="row">
            <div class="col-lg-4 col-md-6">
               <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
                  <div class="image">
                     <img src="{% static 'assets/img/team-3.jpg' %}" alt="image" />
                     <ul class="social">
                        <li>
                           <a href="#" target="_blank">
                              <i class="fa fa-facebook"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank">
                              <i class="fa fa-twitter"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank">
                              <i class="fa fa-linkedin"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank">
                              <i class="fa fa-instagram"></i>
                           </a>
                        </li>
                     </ul>
                     <div class="content">
                        <h3>Imran Bairag</h3>
                        <span>Founder</span>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Team Block End -->

            <!-- Team Block Start -->
            <div class="col-lg-4 col-md-6">
               <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s">
                  <div class="image">
                     <img src="{% static 'assets/img/team-1.jpg' %}" alt="image" />
                     <ul class="social">
                        <li>
                           <a href="#" target="_blank">
                              <i class="fa fa-facebook"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank">
                              <i class="fa fa-twitter"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank">
                              <i class="fa fa-linkedin"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank">
                              <i class="fa fa-instagram"></i>
                           </a>
                        </li>
                     </ul>
                     <div class="content">
                        <h3>Aditya sir</h3>
                        <span>Chief Executive</span>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Team Block End -->

            <!-- Team Block Start -->
            <div class="col-lg-4 col-md-6">
               <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                  <div class="image">
                     <img src="{% static 'assets/img/team-2.jpg' %}" alt="image" />
                     <ul class="social">
                        <li>
                           <a href="#" target="_blank">
                              <i class="fa fa-facebook"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank">
                              <i class="fa fa-twitter"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank">
                              <i class="fa fa-linkedin"></i>
                           </a>
                        </li>
                        <li>
                           <a href="#" target="_blank">
                              <i class="fa fa-instagram"></i>
                           </a>
                        </li>
                     </ul>
                     <div class="content">
                        <h3>Anaga Maam</h3>
                        <span>Project Manager</span>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Team Block End -->
            <div class="row">
               <div class="col-lg-12 ml-5">
                  <div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                     <h2><span>Our Advisors</span></h2>
                  </div>
               </div>
            </div>

            <!-- Team Block Start -->
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                     <div class="image">
                        <img src="{% static 'assets/img/Team Members/arpan.png' %}" alt="image" />
                        <ul class="social">
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-facebook"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-twitter"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-linkedin"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-instagram"></i>
                              </a>
                           </li>
                        </ul>
                        <div class="content">
                           <h3>Arpan Jain</h3>
                           <span>Developer</span>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Team Block End -->

               <!-- Team Block Start -->
               <div class="col-lg-3 col-md-6">
                  <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
                     <div class="image">
                        <img src="{% static 'assets/img/ganju.jpg' %}" alt="image" />
                        <ul class="social">
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-facebook"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-twitter"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-linkedin"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-instagram"></i>
                              </a>
                           </li>
                        </ul>
                        <div class="content">
                           <h3>Mohammad Jeeshan</h3>
                           <span>Developer</span>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Team Block End -->

               <!-- Team Block Start -->
               <div class="col-lg-3 col-md-6">
                  <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s">
                     <div class="image">
                        <img src="{% static 'assets/img/Team Members/Archit.jpg' %}" alt="image" />
                        <ul class="social">
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-facebook"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-twitter"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-linkedin"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-instagram"></i>
                              </a>
                           </li>
                        </ul>
                        <div class="content">
                           <h3>Archit Ladha</h3>
                           <span>Developer</span>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- Team Block Start -->
               <div class="col-lg-3 col-md-6">
                  <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                     <div class="image">
                        <img src="{% static 'assets/img/Team Members/Adarsh.png' %}" alt="image" />
                        <ul class="social">
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-facebook"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-twitter"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-linkedin"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-instagram"></i>
                              </a>
                           </li>
                        </ul>
                        <div class="content">
                           <h3>Adarsh Chouksey</h3>
                           <span>Developer</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Team Block End -->
            <div class="row">
               <div class="col-lg-12 ml-5 mb-8">
                  <div class="section-title wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                     <h2><span>Our Innovators</span></h2>
                  </div>
               </div>
            </div>
            <!-- Team Block Start -->
            <div class="row justify-content-center">
               <div class="col-lg-4 col-md-6">
                  <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                     <div class="image">
                        <img src="{% static 'assets/img/Team Members/naman.png' %}" alt="image" />
                        <ul class="social">
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-facebook"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-twitter"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-linkedin"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-instagram"></i>
                              </a>
                           </li>
                        </ul>
                        <div class="content">
                           <h3>Naman Mehta</h3>
                           <span>Developer</span>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Team Block End -->

               <!-- Team Block Start -->
               <div class="col-lg-4 col-md-6">
                  <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
                     <div class="image">
                        <img src="{% static 'assets/img/Team Members/Pavit.png' %}" alt="image" />
                        <ul class="social">
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-facebook"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-twitter"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-linkedin"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-instagram"></i>
                              </a>
                           </li>
                        </ul>
                        <div class="content">
                           <h3>Pavit Singh Narang</h3>
                           <span>Developer</span>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Team Block End -->

               <!-- Team Block Start -->
               <div class="col-lg-4 col-md-6">
                  <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s">
                     <div class="image">
                        <img src="{% static 'assets/img/Team Members/ankita.png' %}" alt="image" />
                        <ul class="social">
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-facebook"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-twitter"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-linkedin"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-instagram"></i>
                              </a>
                           </li>
                        </ul>
                        <div class="content">
                           <h3>Ankita Pandey</h3>
                           <span>Developer</span>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Team Block End -->

                <!-- Team Block Start -->
            <div class="row">
               <div class="col-lg-3 col-md-6">
                  <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                     <div class="image">
                        <img src="{% static 'assets/img/Team Members/anushka.png' %}" alt="image" />
                        <ul class="social">
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-facebook"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-twitter"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-linkedin"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-instagram"></i>
                              </a>
                           </li>
                        </ul>
                        <div class="content">
                           <h3>Anushka Sharma</h3>
                           <span>Developer</span>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Team Block End -->

               <!-- Team Block Start -->
               <div class="col-lg-3 col-md-6">
                  <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.6s">
                     <div class="image">
                        <img src="{% static 'assets/img/Team Members/akshat.png' %}" alt="image" />
                        <ul class="social">
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-facebook"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-twitter"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-linkedin"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-instagram"></i>
                              </a>
                           </li>
                        </ul>
                        <div class="content">
                           <h3>Akshat Shrivastav</h3>
                           <span>Developer</span>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- Team Block End -->

               <!-- Team Block Start -->
               <div class="col-lg-3 col-md-6">
                  <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.7s">
                     <div class="image">
                        <img src="{% static 'assets/img/Team Members/Rochak.jpg' %}" alt="image" />
                        <ul class="social">
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-facebook"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-twitter"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-linkedin"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-instagram"></i>
                              </a>
                           </li>
                        </ul>
                        <div class="content">
                           <h3>Rochak Shrivastav</h3>
                           <span>Developer</span>
                        </div>
                     </div>
                  </div>
               </div>

               <!-- Team Block Start -->
               <div class="col-lg-3 col-md-6">
                  <div class="team-item wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                     <div class="image">
                        <img src="{% static 'assets/img/Team Members/pooja.png' %}" alt="image" />
                        <ul class="social">
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-facebook"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-twitter"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-linkedin"></i>
                              </a>
                           </li>
                           <li>
                              <a href="#" target="_blank">
                                 <i class="fa fa-instagram"></i>
                              </a>
                           </li>
                        </ul>
                        <div class="content">
                           <h3>Pooja Birle</h3>
                           <span>Developer</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            </div>
         </div>
      </div>
   </section>
   <!-- Team Section End -->
{% endblock %}
